.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  height: 100vh;
  align-items: center;
  background-color: #232323;
}

span {
  font-size: 22px;
  color: white;
}

img {
  height: 80%;
}

.square {
  
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  border: 2px solid #b310db;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  justify-content: center;
  align-content: center;
  height: 500px;
  padding: 0.5em;
  gap: 1em;
  grid-template-rows: 100px 100px 100px;
}

button {
  background-color: #b310db;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 10%;
  border-radius: 2%;
}

button:active {
  background-color: #7d0d99;
  transform: translateY(4px);
}

.square:hover {
  background-color: #b310db;
}